:root {
    --shadow: 1px 1px 5px rgba(50 50 50 /0.5);
}

/* Generelt */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: end;
    min-height: 100vh;
}

h2,
p,
#point {
    color: ivory;
    text-align: center;
}

/* Win or lose */
.hura,
.dead {
    display: none;
    position: fixed;

    padding: 0.2em;
    background-color: rgb(255 255 255 /0.5);
    border-radius: 50%;
    box-shadow: var(--shadow);
    font-size: 50vh;
    z-index: 1;
}

.tryAgain {
    position: fixed;
    bottom: 1rem;
    font-size: 10vh;
    background-color: transparent;
    box-shadow: none;
    z-index: 1;
}

/* Character */
.character {
    display: flex;

    border: none;
    padding: 0.2em 0.1em;
    background-color: ivory;
    border-radius: 50%;
    box-shadow: var(--shadow);
    appearance: none;
    font-size: max(2rem, 8vw);

    position: fixed;
    top: 1rem;
    right: 1rem;

    opacity: 0.5;
}

/* Wrapper */
.wrapper {
    padding: 3rem;
    height: 100%;

    background-color: darkkhaki;
}

/* Point og overskrift */
#point {
    display: flex;
    flex-wrap: wrap
}

#score {
    font-size: medium;
    padding: 0;
    border-radius: 0;
    background-color: inherit;
    box-shadow: none;
}

#point h2 {
    width: 100%;
    margin-top: 1rem;
}

#point .buy {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
}

.point,
button {
    display: inline-block;
    background-color: ivory;
    border-radius: 10px;
    box-shadow: var(--shadow);
    border: none;
    padding: .5rem;
    color: goldenrod;
    min-width: 6rem;
}

button {
    display: none;
    margin: 1rem 0 0;
}

/* lostFood */

#animals,
.foodcontainer,
.lostMad {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.lostMad{
    display: none;
}

/* Animals */
#animals div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.animal {
    grid-column: 1/3;
    grid-row: 1/3;

    font-size: 3rem;
}

.mood {
    grid-column: 2/3;
    grid-row: 1/2;

    font-size: 1rem;
    background-color: blanchedalmond;
}

/* Food */
span,
.food {
    padding: .25em;
    border-radius: 100%;
    background-color: white;
    box-shadow: var(--shadow);
}

.food {
    font-size: 1.5rem;
}