*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: end;
}

#point .buy{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.point , button{
    display: inline-block;
    background-color: ivory;
    border-radius: 5px;
    border: none;
    padding: .5rem;
    color: goldenrod;
    margin: 1rem 40%;
}

button{
    display: none;
    margin: 0;
}

h2, p, #point{
    display: block;
    color: ivory;
    text-align: center;
}

.wrapper{
    padding: 10% 6rem;
    height: 100vh;
    background-color: darkkhaki;
}

.text{
    font-weight: 700;
}

span{
    padding: .25em;
    border-radius: 100%;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(50 50 50 /0.5);
}

#animals, .foodcontainer{
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

#animals div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.animal{
    grid-column: 1/3;
    grid-row: 1/3;

    font-size: 3rem;
}

.mood{
    grid-column: 2/3;
    grid-row: 1/2;

    font-size: 1.5rem;
    background-color: blanchedalmond;
}

.like{
    display: none;
    grid-column: 1/2;
    grid-row: 3/4;


    font-size: 1.5rem;
}

.like:last-of-type{
    grid-column: 2/3;
}

.food{
    font-size: 1.5rem;
    height: 1.5rem;
    padding: .35em .25em;
}

#score{
    font-size: medium;
    padding: 0;
    border-radius: 0;
    background-color: inherit;
    box-shadow: none;
}

.hura, .dead{
    display: none;
    position: fixed;

    padding: 0.2em;
    background-color: rgb(255 255 255 /0.5);
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(50 50 50 /0.5);
    font-size: 50vh;
}

.character{
    display: flex;

    border: none;
    padding: 0.2em 0.1em;
    background-color: ivory;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(50 50 50 /0.5);
    appearance: none;
    font-size: 4rem;

    position: fixed;
    top: 1rem;
    right: 2rem;

    opacity: 0.5;
}

.tryAgain{
    position: fixed;
    bottom: 1rem;
    font-size: 10vh;
    background-color: transparent;
}
