*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.wrapper{
    padding: 10% 6rem;
    height: 100vh;
    background-color:rgb(230, 223, 212);
}

.text{
    font-weight: 700;
}

span{
    padding: .25em;
    border-radius: 50%;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(50 50 50 /0.5);
}

#animals, #foods .foodcontainer{
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

#animals div{
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: 1fr .5fr;
}

.animal{
    grid-column: 1/3;
    grid-row: 1/3;

    font-size: xxx-large;
}

.mood{
    grid-column: 2/3;
    grid-row: 2/3;

    font-size: large;
}

#foods .foodcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.food{
    font-size: x-large;
}

#score{
    font-size: medium;
    padding: 0;
    border-radius: 0;
    background-color: inherit;
    box-shadow: none;
}

